# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/blog/.git/
/blog/.gitignore

# Ignore bundler config.
/blog/.bundle

# Ignore all environment files.
/blog/.env*

# Ignore all default key files.
/blog/config/master.key
/blog/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/blog/log/*
/blog/tmp/*
!/blog/log/.keep
!/blog/tmp/.keep

# Ignore pidfiles, but keep the directory.
/blog/tmp/pids/*
!/blog/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/blog/storage/*
!/blog/storage/.keep
/blog/tmp/storage/*
!/blog/tmp/storage/.keep

# Ignore assets.
/blog/node_modules/
/blog/app/assets/builds/*
!/blog/app/assets/builds/.keep
/blog/public/assets

# Ignore CI service files.
/blog/.github

# Ignore Kamal files.
/blog/config/deploy*.yml
/blog/.kamal

# Ignore development files
/blog/.devcontainer

# Ignore Docker-related files
/.dockerignore
/Dockerfile*
